/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*--- Switches vertical paddings for sections on mobile tablet and PC---*/
/*--- Switches to flex display for section components, starting from tablet width ---*/
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

/*-----Utility class for hover/focus color transition mmmmmmmmm----*/
.transition-hover {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-width: 480px;
  background-color: #ffffff;
  /*-- Main background color --*/
  font-family: "Roboto", sans-serif;
  /*-- Default font style --*/
  font-style: normal;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*-- Wrapper div for the section content --*/
section, footer {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2196f3;
}

.section-header {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.container.header-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .container.header-menu {
    padding: 0 15px;
  }
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.link-logo > span {
  color: #2196f3;
}

.link-logo.header {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}

.nav_menu {
  display: block;
  width: 99px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .nav_menu {
    display: flex;
    margin-left: 93px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav.is-open {
    display: block;
  }
}

.nav_menu > li + li {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .nav_menu > li + li {
    margin-top: 0;
    margin-left: 50px;
  }
}

.link-nav {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .link-nav {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.link-nav.active {
  color: #2196f3;
}

.link-nav.active::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  margin-top: 8px;
  background-color: #2196f3;
  border-radius: 2px;
}

.link-nav.active.studio::after {
  width: 64px;
}

@media screen and (min-width: 768px) {
  .link-nav.active.studio::after {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}

.link-nav.active.port::after {
  width: 99px;
}

@media screen and (min-width: 768px) {
  .link-nav.active.port::after {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}

.contacts-header {
  display: block;
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
  }
}

.link-contacts-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .link-contacts-header {
    justify-content: flex-start;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .link-contacts-header {
    justify-content: center;
    font-size: 14px;
    line-height: 1.16;
  }
}

.contacts-header > li:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-header > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header > li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.link-contacts-header > svg {
  fill: currentColor;
  margin-right: 10px;
}

.link-contacts-header:hover, .link-contacts-headerfocus {
  color: #2196f3;
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.cross {
  display: none;
}

.menu-button.is-open .cross {
  display: block;
}

.menu-button.is-open .burger {
  display: none;
}

.hero-section {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #ffffff;
  background-size: 480px 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-main/hero/mobile/hero-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-main/hero/mobile/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/images-main/hero/tablet/hero-bg-tablet@1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/images-main/hero/tablet/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/images-main/hero/desktop/hero-bg-desktop@1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/images-main/hero/desktop/hero-bg-desktop@2x.jpg");
  }
}

.hero-header {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-header {
    font-size: 44px;
    line-height: 1.363;
  }
}

.big-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.big-btn:hover {
  transform: scale(1.2);
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-container {
  display: block;
  margin: -15px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .features-container {
    display: flex;
  }
}

.features-container > li {
  margin: 15px;
  flex-basis: calc(50% - 30px);
}

@media screen and (min-width: 1200px) {
  .features-container > li {
    flex-basis: 270px;
  }
}

.icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon > svg {
  width: 70px;
  height: 70px;
}

.features-title {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

.features-text {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.whatwedo-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .whatwedo-section {
    display: block;
    padding-top: 0px;
    padding-bottom: 94px;
  }
}

.whatwedo-container {
  display: flex;
}

.whatwedo-container > li {
  position: relative;
  margin-right: 30px;
}

.whatwedo-container > li:last-child {
  margin-right: 0;
}

.whatwedo-text-overlay {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.whatwedo-text-overlay > p {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .team-card-container {
    flex-wrap: nowrap;
  }
}

.team-card-container > li {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  margin: 0;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-member-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member-position {
  margin: 0;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-networks > li:not(:last-child) {
  margin-right: 10px;
}

.social-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
}

.social-networks-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-networks-link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-container {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-container > li {
  margin: 15px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.client-icon {
  fill: currentColor;
}

/*###################### Portfolio section ######################*/
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter-list {
    margin-bottom: 50px;
  }
}

.portfolio-filter-list > li:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter-list > li:not(:last-child) {
    margin-bottom: 0;
  }
}

.portfolio-btn {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card-container > li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-card-container > li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card-container > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-card {
  margin: 0;
  width: 370px;
  background: #ffffff;
}

.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(-100%);
}

.portfolio-card > figcaption {
  width: 370px;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay > p {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio-title {
  margin: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: space-between;
  }
}

.footer-social-part,
.footer-subscribe-part {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social-part {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscribe-part {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-part {
    width: auto;
    margin-top: 0;
  }
}

/*-- Overriding italic font in address element --*/
address {
  margin-top: 20px;
  font-style: normal;
}

.link-logo.footer {
  color: #ffffff;
  letter-spacing: 0.03em;
}

/*-- Making space between address items lines in footer --*/
.contacts-footer > li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-footer > li:not(:last-child) {
    margin-bottom: 9px;
  }
}

.link-contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.714;
}

.link-contacts-footer:hover, .link-contacts-footer:focus {
  color: #2196f3;
}

/*-- A single line of the address in footer which thinks that it is better than others) --*/
.address-footer {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

footer .features-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  footer .features-title {
    text-align: left;
  }
}

.social-networks-link.footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks-link.footer:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.form-subscribe {
  display: block;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: flex;
  }
}

.form-subscribe input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .form-subscribe input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.form-subscribe .big-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-subscribe .big-btn:hover {
  transform: scale(1);
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  pointer-events: auto;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms linear 0ms;
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms linear 400ms;
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.modal-window {
  width: 528px;
  padding: 40px;
  transform: scale(1) perspective(400px) rotateX(0deg);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden .modal-window {
  transform: scale(0.3) perspective(400px) rotateX(25deg);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  fill: #2196f3;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus + .modal-form-icon {
  fill: #2196f3;
}

.textfield {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.textfield::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy-consent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-consent > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-consent > span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.policy-consent a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.policy-consent a:hover {
  text-decoration: underline;
}

.policy-consent > input {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-consent > input:checked + span::before {
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  background-origin: border-box;
}

.modal-window .big-btn {
  display: block;
  margin: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window .big-btn:hover {
  transform: scale(1.2);
}
/*# sourceMappingURL=main.css.map */