body {
  background-color: #ffffff; /*-- Main background color --*/
  font-family: "Roboto", sans-serif; /*-- Default font style --*/
  font-style: normal;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*-- Wrapper div for the section content --*/
section, footer {
  width: 100%;
  min-width: 320px;
  
}
.container {
  min-width: 320px; 
    @media screen and (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-mobile;
  } 
  @media screen and (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
  }
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.section-header {
  margin-bottom: 50px;
  color: $color-black;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}
