.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: block;
  text-align: center;
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: space-between;
  }
}

.footer-social-part,
.footer-subscribe-part {
  margin-top: 60px;
}
.footer-social-part {
  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 0;
  }
}
.footer-subscribe-part {
  @media screen and (min-width: $breakpoint-tablet) {
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: auto;
    margin-top: 0;
  }
}

/*-- Overriding italic font in address element --*/
address {
  margin-top: 20px;
  font-style: normal;
}
.link-logo.footer {

  color: $color-white;
  letter-spacing: 0.03em;
}
/*-- Making space between address items lines in footer --*/
.contacts-footer > li:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 9px;
  }
}
.link-contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.714;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
/*-- A single line of the address in footer which thinks that it is better than others) --*/
.address-footer {
  margin: 0;
  color: $color-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
footer .features-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (min-width: $breakpoint-desktop) {
    text-align: left;
  }
}
.social-networks-link.footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover {
    color: #ffffff;
    background-color: $color-accent;
  }
}
.form-subscribe {
  display: block;
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}
.form-subscribe input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  @media screen and (min-width: $breakpoint-desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.form-subscribe .big-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &:hover {
    transform: scale(1);
  }
}
.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
