header {
  border-bottom: 1px solid #ececec;
}
.container.header-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 15px;
  }
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.link-logo > span {
  color: $color-accent;
}
.link-logo.header {
  color: $color-black;
}
.nav {
  @media screen and (max-width: $breakpoint-tablet - 1px) {
    display: none;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}
.nav_menu {
  display: block;
  width: 99px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    width: auto;
    margin-left: 93px;
    margin-bottom: 0;
  }
}
.nav.is-open {
  @media screen and (max-width: $breakpoint-tablet - 1px){
  display: block;
  }
}
.nav_menu > li + li {
  margin-top: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 0;
    margin-left: 50px;
  }
}
.link-nav {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.link-nav.active {
  color: $color-accent;
}
.link-nav.active::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  margin-top: 8px;
  background-color: $color-accent;
  border-radius: 2px;
}
.link-nav.active.studio::after {
  width: 64px;
  @media screen and (min-width: $breakpoint-tablet) {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}
.link-nav.active.port::after {
  width: 99px;
  @media screen and (min-width: $breakpoint-tablet) {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}

.contacts-header {
  display: block;
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}
.link-contacts-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $color-grey;
  @media screen and (min-width: $breakpoint-tablet) {
    justify-content: flex-start;
    font-size: 12px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: center;
    font-size: 14px;
    line-height: 1.16;
  }
}

.contacts-header > li:not(:last-child) {
  margin-bottom: 16px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.link-contacts-header > svg {
  fill: currentColor;
  margin-right: 10px;
}

.link-contacts-header {
  &:hover,
  &focus {
    color: $color-accent;
  }
}
.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}
.menu-icon {
  width: 40px;
  height: 40px;
}
.cross {
  display: none;
}
.menu-button.is-open .cross {
  display: block;
}
.menu-button.is-open .burger {
  display: none;
}
