/*###################### Portfolio section ######################*/
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 50px;
  }
}
.portfolio-filter-list > li:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 0;
  }
}
.portfolio-btn {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
  @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
    width: $breakpoint-tablet;
    justify-content: flex-start;
    margin: auto;
  }
}
.portfolio-card-container > li {
  margin: 15px;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 354px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 370px;
  }
}
.portfolio-card {
  margin: auto;
  max-width: 100%;
  background: #ffffff;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-card:hover .portfolio-overlay {
  transform: translateY(-100%);
}
.portfolio-card > figcaption {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;

  & img {
    max-width: 100%;
  }
}
.portfolio-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay > p {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.portfolio-title {
  margin: 0;
  margin-bottom: 4px;
  color: $color-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin: 0;
  color: $color-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
