$color-black: #212121; // Font color for headers, links
$color-white: #ffffff; // Font color for logo header, hero and address footer line, buttons
$color-grey: #757575; //Font color for common text, header tel and mail links
$color-accent: #2196f3; // Color for hover links, logo span, buttons

$breakpoint-mobile: 480px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1200px;
